html {
	font-size: 10px;
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

body {
	font-family: var(--font-alata);
	background: var(--white);
	color: var(--darker-gray);
}
