@use '../util' as *;

h1,
h2,
h3 {
	//line-height: 1.1;
}

h1 {
	font-size: 4.1rem;
	font-family: var(--font-josefin-sans);
	color: var(--white);
	font-weight: 300;
	text-transform: uppercase;
	@include breakpoint(desktop) {
		font-size: 4rem;
	}
}

h2 {
	font-size: 2rem;
	@include breakpoint(desktop) {
		font-size: 3.8rem;
	}
}

a,
a:visited,
a:active {
	text-decoration: none;
}

ul {
	list-style: none;
}
